/* .searchbar input {
    width: 500px;
    padding: 10px;
    padding-left: 40px;
    border-radius: var(--border-radius);
    border: 1px solid white
}

.searchbar input:hover {
    border-color: var(--primary-color);
    background-color: white;
}

.searchbar label {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
} */